body {
    text-align: justify;
    font-size: 3em;
    background-image: url(http://www.camcrews.com/ex/img/nycda-bg.svg);
    background-color: rgba(193,250,250,0.5);
}
h1 {
  text-align: center;
}
p {
  font-size: .5em;
  padding: 0 20%;
}
.firework {
  width: 0;
  height: 0;
  border-radius: 50%;
  position: fixed;
  animation: 3s explode linear;
}
@keyframes explode {
  from{
    width: 0;
    height: 0;
    opacity: 0.8;
  }
  to{
    width:2000px;
    height: 2000px;
    transform: translateX(-1000px) translateY(-1000px);
    opacity: 0;
  }
}